@tailwind base;
@tailwind components;
@tailwind utilities;
/* App.css */
body {
    margin: 0;
    padding: 0;
    background-image: url("https://as2.ftcdn.net/v2/jpg/03/54/66/93/1000_F_354669343_VRo19nwVw1u0GhyNDNWwddpKVrKfFZ4a.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    font-family: Arial, sans-serif; 
  }
  